@import "tailwindcss";
@import url("/12may/my-app/public/Fonts/Begum/Begum.ttf");
@import url("/12may/my-app/public/Fonts/Noto_Sans/NOTO_SANS/NotoSans-ExtraLight.ttf");
@theme {
  --color-primary: #e5e7eb;
  --color-beige: #EDE8D0;
  --color-dark: #000000;
  --color-light: #fff;
  --color-dark-green:#363f1d;
  --font-begum:"Begum";
  --font-notosans:"NotoSans-ExtraLight";
}

:root{
    font-family: "NotoSans-ExtraLight";
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  animation: marquee 20s linear infinite;
  will-change: transform;
}
